<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/fontawesome/css/all.css">
<link href="/css/estilo.css" rel="stylesheet">
<script src="/bootstrap/jquery/jquery-3.0.0.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<title>SafeDanfe</title>
</head>
<body class="container">
	<!-- Cabeçalho -->
	<div class="row">
		<div class="col-6">
			<div>
				<p class="h4">
					<img alt="" src="/img/Hiperconf.png"
						style="width: 80px; height: 100%"> SAFEDANFE
				</p>
			</div>
		</div>
		<div class="col-6">
			<ul class="nav justify-content-end">
				<li class="nav-item"><a
					class="nav-link fas fa-sign-out-alt icones" href="/"></a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-3 alert alert-dark">
			<ul class="row nav">
				<li class="col-12"><a class="nav-link fas fa-id-badge icones"
					href="/users"> Usuário</a></li>
				<li class="col-12"><a
					class="nav-link fas fa-shipping-fast icones" href="/providers">
						Fornecedor</a></li>
				<li class="col-12"><a class="nav-link fas fa-building icones"
					href="/companys"> Empresa</a></li>
				<li class="col-12"><a
					class="nav-link fas fa-cloud-download-alt icones" href="/danfes">
						Notas</a></li>
			</ul>
		</div>
		<div class="col-9 alert">
			<img src="img/Em-Desenvolvimento.gif">
		</div>

	</div>


</body>
</html>