<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/fontawesome/css/all.css">
<link href="/css/estilo.css" rel="stylesheet">
<script src="/bootstrap/jquery/jquery-3.0.0.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<title>SafeDanfe</title>
</head>
<body>
	<div class="row">
		<div class="col-3 alert alert-primary">
			<ul class="row nav">
				<li class="col-12"><a class="nav-link fas fa-id-badge icones"
					href="/users"> Usuario</a></li>
				<li class="col-12"><a
					class="nav-link fas fa-shipping-fast icones" href="/providers"> Fornecedor</a></li>
					<li class="col-12"><a class="nav-link fas fa-building icones"
					href="/companys"> Empresa</a></li>
					<li class="col-12"><a class="nav-link fas fa-wrench icones"
					href="#"> Configuração</a></li>
					<li class="col-12"><a class="nav-link fas fa-cloud-download-alt icones"
					href="#"> Download XML</a></li>
			</ul>
		</div>
		<div class="col-9 alert alert-dark"></div>
	</div>


</body>
</html>