<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/fontawesome/css/all.css">
<link href="/css/estilo.css" rel="stylesheet">
<script src="/bootstrap/jquery/jquery-3.0.0.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<title>SafeDanfe</title>
</head>
<body class="container">
	<div th:insert="fragments/header.html">
	</div>
	<form>
		<div class="form-group">
			<label>Nome do usuário</label><input type="text"
				class="form-control" name="name"
				th:value="${user.name}">
		</div>
		<div class="form-group">
			<label>Insira a senha</label> <input type="password" class="form-control"
				name="password"
				th:value="${user.password}">
		</div>
		<div class="form-group">
			<label>Tipo de usuário</label>
			<select class="form-control form-control-lg" name="permission">Tipo
				do usuario>
				<option th:each="permission : ${permissions}"
					th:value="${permission}" th:text="${permission}"></option>
			</select>

		</div>
		<br>
		<button th:formaction="@{/users}" formmethod="POST" type="submit"
			class="btn btn-primary">Salvar</button>
		<button th:formaction="@{/users/delete/} + ${user.id}"
			formmethod="GET" type="submit" class="btn btn-primary">Deletar</button>
	</form>
</body>
</html>