<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/fontawesome/css/fontawesome.min.css">
<link href="/css/estilo.css" rel="stylesheet">
<script src="/bootstrap/jquery/jquery-3.0.0.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<title>SafeDanfe</title>
</head>
<body>
	<h1>TESTE</h1>
	<span th:text="${providerID.id}"></span>
	<form>
		<div class="form-group">
			<label>Código</label> <input
				type="text" class="form-control" name="id" placeholder="Nome do fornecedor" th:value="${providerID.id}">
		</div>
		<div class="form-group">
			<label>Razão Social</label> <input
				type="text" class="form-control" name="name" placeholder="Nome do fornecedor" th:value="${providerID.name}">
		</div>
		<div class="form-group">
			<label>CNPJ</label> <input
				type="text" class="form-control" name="cnpj" placeholder="CNPJ" th:value="${providerID.cnpj}">
		</div>
		<div class="form-group">
			<label>Cidade</label> <input
				type="text" class="form-control" name="city" placeholder="Cidade" th:value="${providerID.city}">
		</div>
		<div class="form-group">
			<label>Estado</label> <input
				type="text" class="form-control" name="estado" placeholder="Estado" th:value="${providerID.estado}">
		</div>
		<br>
		<button th:formaction="@{/providers}" formmethod="POST" type="submit"  class="btn btn-primary">Salvar</button>
		<button th:formaction="@{/providers/delete/} + ${providerID.id}" formmethod="GET" type="submit" class="btn btn-primary">Deletar</button>
	</form>
</body>
</html>