<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/fontawesome/css/all.css">
<link href="/css/estilo.css" rel="stylesheet">
<script src="/bootstrap/jquery/jquery-3.0.0.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<title>SafeDanfe</title>
</head>
<body class="container">
	<div th:insert="fragments/header.html"></div>
	<form>
		<div class="form-group">
			<label>Código</label>
			<input type="text" class="form-control"
				name="id"
				th:value="${providerID.id}">
		</div>
		<div class="form-group">
			<label>Razão Social</label>
			<input type="text" class="form-control"
				name="name"
				th:value="${providerID.name}">
		</div>
		<div class="form-group">
			<label>CNPJ</label>
			<input type="text" class="form-control"
				name="cnpj" th:value="${providerID.cnpj}">
		</div>
		<div class="form-group">
			<label>Cidade</label>
			<input type="text" class="form-control"
				name="city" th:value="${providerID.city}">
		</div>
		<div class="form-group">
			<label>Estado</label>
			<input type="text" class="form-control"
				name="estado" th:value="${providerID.estado}">
		</div>
		<br>
		<button th:formaction="@{/providers}" formmethod="POST" type="submit"
			class="btn btn-primary">Salvar</button>
			<button th:formaction="@{/providers/delete/} + ${providerID.id}"
			formmethod="GET" type="submit" class="btn btn-primary">Deletar</button>
	</form>
</body>
</html>