<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/fontawesome/css/all.css">
<link href="/css/estilo.css" rel="stylesheet">
<script src="/bootstrap/jquery/jquery-3.0.0.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<title>SafeDanfe</title>
</head>
<body class="container">
	<div th:insert="fragments/header.html">
	</div>
	<p class="display-3 text-center">Usuários</p>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Código</th>
				<th scope="col">Nome do usuário</th>
				<th scope="col">Tipo de usuário</th>
				<th scope="col">Editar</th>
			</tr>
		</thead>
		<tr th:each="user : ${UserAll}">
			<td><span th:text="${user.id}"></span></td>
			<td><span th:text="${user.name}"></span></td>
			<td><span th:text="${user.permission}"></span></td>
			<td><a class="btn btn-primary" th:href="@{/users/} + ${user.id}">...</a></td>
		</tr>


	</table>
	<a class="btn btn-primary" th:href="@{/users/form}">Cadastrar</a>


</body>
</html>