<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/fontawesome/css/all.css">
<link href="/css/estilo.css" rel="stylesheet">
<script src="/bootstrap/jquery/jquery-3.0.0.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<title>SafeDanfe</title>
</head>
<body class="container">
	<div th:insert="fragments/header.html"></div>
	<p class="display-3 text-center">Notas Fiscais</p>
	<br>
	<div>
		<form>
			<div class="form-row">
				<div class="col">
					<label>Data início</label> <input type="date" name="dateIni" th:value="${dateStart}">
				</div>
				<div class="col">
					<label>Data fim</label> <input type="date" name="dateFim" th:value="${dateEnd}">
				</div>
				<div class="col">
					<label>Empresa</label>
					<select id="exampleFormControlSelect1" name="company">
						<option th:each="company : ${companyAll}"
					th:value="${company.id}" th:text="${company.id}" 
					th:selected="${companySelect} == ${company.id} ? 'true' : 'false' "></option>
						
						<option value="*" th:selected="${companySelect} == '*' ? 'true' : 'false' ">Todas</option>
					</select>
				</div>
				<div class="col">
				<button th:formaction="@{/danfes}"
			formmethod="GET" type="submit" class="btn btn-primary">Filtrar</button>
				</div>

			</div>
		</form>
		<br>
	</div>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Código</th>
				<th scope="col">Número da NFE</th>
				<th scope="col">Nome do fornecedor</th>
				<th scope="col">Código da empresa</th>
				<th scope="col">Nome da empresa</th>
				<th scope="col">Valor Total</th>
				<th scope="col">Data da emissão</th>
				<th scope="col">Visualizar</th>
			</tr>
		</thead>
		<tr th:each="danfe : ${danfeAll}">
			<td><span th:text="${danfe.id}"></span></td>
			<td><span th:text="${danfe.numberNFE}"></span></td>
			<td><span th:text="${danfe.provider.name}"></span></td>
			<td><span th:text="${danfe.company.id}"></span></td>
			<td><span th:text="${danfe.company.fantasyName}"></span></td>
			<td><span th:text="${#numbers.formatCurrency(danfe.amount)}"></span></td>
			<td><span
				th:text="${#temporals.format(danfe.issuanceDate, 'dd/MM/yyyy')}"></span></td>
			<td><a class="btn btn-primary"
				th:href="@{/danfes/} + ${danfe.id}">...</a></td>
		</tr>


	</table>


</body>
</html>